body {
  margin: 0;
  color: black;
  height: auto;
  /* padding: 0; */
}
body a {
  text-decoration: none;
  color: white;
}

/* FENTY TOP */
#fenty-top a {
  display: flex;
  width: 50%;
  justify-content: center;
  float: left;
  text-transform: uppercase;
  font-size: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: sans-serif;
  letter-spacing: 8px;
  color: black;
  font-weight: 900;
  height: 20px;
}

.fenty-left {
  background-color: #e0beb1;
}

.fenty-transition {
  display: inline-block;
}
.fenty-transition :hover {
  /* transform: scale(1.2); */
  font-size: larger;
  padding-top: -40px;
  padding-bottom: -40px;
  width: 250px;
}

/* .grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); } */

.fenty-right {
  background-color: #d8cbda;
  text-decoration: none;
}

/* NAVBAR */
header {
  position: fixed;
}

#header-container {
  background-color: black;
  color: rgb(211, 56, 56);
  width: 100vw;
  height: 125px;
}
#header-container .list-container {
  width: 95%;
  height: 70px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}
#header-container .header-logo {
  width: 25%;
  letter-spacing: 10px;
}
.header-logo a {
  text-decoration: none;
  color: white;
  font-family: sans-serif;
}

#header-nav {
  display: flex;
  width: 55%;
}

#header-nav ul {
  list-style-type: none;
}
#header-nav ul li {
  display: inline;
  font-size: 12px;
  text-transform: uppercase;
  font-family: sans-serif;
  margin: 0 5px;
}
#header-nav-items {
  display: flex;
  width: 83%;
  justify-content: space-between;
  padding-left: 6px;
  padding-right: 6px;
}

.header-nav-item a:hover {
  padding-bottom: 22px;
  border-bottom: 2px solid white;
}
/* HEADER-ICONS */
#header-nav-icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#header-nav-icons > ul {
  list-style-type: none;
  float: right;
}
#header-nav-icons > ul > li {
  display: inline;
  font-size: 25px;
  font-family: sans-serif;
  margin: 0 5px;
}

/* SHIPPING */
#ship {
  background-color: #ebdad3;
  height: 55px;
  margin-top: -22px;
}
#ship > h5 {
  font-size: 13px;
  padding: 19px 10px;
  padding-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 200;
  font-family: sans-serif;
}

/* PAGE */
#pages-grid {
  display: grid;
  grid-template-columns: auto 33.3% auto;
  /* background-color: rgb(102, 18, 3); */
  /* height: 10px; */
}
.background {
  background-image: url("./images/DESKTOP-SLIDER-COPY-BACKGROUND_1_1200x.jpg");
}

.page-grid img {
  object-position: center;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.middle-content {
  text-align: center;
  text-transform: uppercase;
}
.middle-content h4 {
  margin-top: 90px;
  /* font-weight: 100; */
  font-family: "IBM Plex Sans Thai Looped", sans-serif;
  letter-spacing: 0.3em;
  margin-bottom: 12px;
  font-size: small;
  font-weight: 400;
}

.gloss {
  font-family: "IBM Plex Sans Thai Looped", sans-serif;
  font-size: 28px;
  line-height: 36px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0;
  letter-spacing: 1px;
}

.universal {
  font-size: 12px;
  margin-top: 25px;
  font-family: "IBM Plex Sans Thai Looped", sans-serif;
  font-weight: 580;
  letter-spacing: 0.2em;
}
.plumper {
  font-size: 12px;
  margin-top: 25px;
  font-family: "IBM Plex Sans Thai Looped", sans-serif;
  font-weight: 100;
  letter-spacing: 0.2em;
}
.shop {
  background-color: black;
  width: 200px;
  margin-left: 100px;
  margin-right: 150px;
  padding: 15px;
  font-family: "IBM Plex Sans Thai Looped", sans-serif;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.2em;
  margin-top: 25px;
  text-align: center;
}

/* MOST WANTED PAGE */
.top-most {
  text-align: center;
}
.top-most > h3 {
  letter-spacing: 0.2em;
  margin-top: 40px;
  margin-bottom: 0;
  font-size: 1.1rem;
  font-family: "IBM Plex Sans Thai Looped", sans-serif;
}

.top-most > h4 {
  letter-spacing: 0.1em;
  margin-top: 5px;
  font-family: "IBM Plex Sans Thai Looped", sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  font-size: 0.9rem;
}

#grids-wanted-container {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
}

.grid-wanted {
  position: relative;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 30px;
}

.heart-wanted {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  font-size: 35px;
}
.wanted-direction-left {
  position: absolute;
  top: 250px;
  left: -1px;
  font-size: 25px;
}
.heart-wanted:hover {
  color: #dbab98;
  font-size: 55px;
}

.grid-wanted img {
  object-position: center;
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.first {
  margin-left: 55px;
}
.third {
  margin-right: 55px;
}
